<!DOCTYPE html>
<html>
<head>
    <title>Books Management</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <a href="/" class="active">Exit</a><a href="/admin" class="active">Order</a><a href="/admin/book" class="active">Book</a><a href="/admin/Entities" class="active">Entities</a><a href="/admin" class="active">Back</a>
    <h1>Order Management</h1>
    <div class="display">
        <center>
                <table style="margin-top: 2em;">
                    <tr><th style="width: 15%; text-align: center;">No.</th><th style="width: 17%;">Image</th>
                        <th >Title</th><th >Quantity</th><th >Totals</th>
                        <% for (var i=0; i < books.length; i++) {%>
                            <tr>
                                <td style="text-align: center;"><%= i+1 %></td>
                                <td><img
                                    src="../uploads/<%= books[i].file_name %>" style="height: 250px;width: auto;"/>
                                </td>
                                <td style="margin-left: 5%;"><%= books[i].title %></td>
                                <td><%= ReqInfo[i].quantity %></td>
                                <td><%= ReqInfo[i].totalOP %></td>
                            </tr> 
                        <% } %>
                    </tr>
                </table>
        </center>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all input fields with the class 'field'
        var inputFields = document.querySelectorAll('.field');

        inputFields.forEach(function(inputField) {
        var initialValue = parseInt(inputField.value);
        if (initialValue < 21) {
            inputField.style.backgroundColor = '#f39090';
        } else if (initialValue < 41) {
            inputField.style.backgroundColor = '#ffff00a3';
        } else {
            inputField.style.backgroundColor = '#54e959a3';
        }
    });
        
        // Iterate over each input field
        inputFields.forEach(function(inputField) {
            // Add input event listener to each input field
            inputField.addEventListener('input', function() {
                var value = parseInt(this.value);
                if (value < 21) {
                    this.style.backgroundColor = '#f39090';
                } else if (value < 41) {
                    this.style.backgroundColor = '#ffff00a3';
                } else {
                    this.style.backgroundColor = '#54e959a3';
                }
            });
        });
    });
    </script>
</head>
</html>