<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
    <link rel="stylesheet" href="../css/book.css">
    <link rel="stylesheet" href="../css/heart.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
  <%- include('Fcart.ejs', {totalQ: totalQ}) -%>
  <%- include('menu.ejs', {level: level, username: username}) -%>
    <div class="container">
        <div class="product-card">
          <div class="left" style="margin-right: 10%; width: 35%; width: 360px;">
            <img
              src="../uploads/<%= book.file_name %>"
              alt="รูปหนังสือ"
              style="height: 100%; width: 100%;"
            />
          </div>
    
          <div class="right" style="text-align: left;">
            <!-- <button class="like-button">&#10084;</button> -->
            <p>ชื่อหนังสือ : <%= book.title %></p>
            <p>ผู้เขียน : <%= book.author %></p>
            <p>ประเภท : <%= book.genre[0] %><% for (var i=1; i < book.genre.length ; i++) {%>
              <%= ", "+book.genre[i] %></option>
            <% } %>
            </p>
            <p>ธีม : <%= book_theme[0].theme_name %></p>
            <p>ราคา : <%= book.price %></p><br><br><br>
            <input type="number" name="holder" value="<%= book.stock %>" id="holder" hidden>
            <form action="/store/<%= book.id %>" method="post">
            <input type="number" name="quantity" class="field" value="1" id="quanity">
            <button class="add-to-cart" style="margin-left: 10%;" 
            type="submit">ใส่ตระกร้า</button>
          </form>
          </div>
        </div>
    </div>
</body>
<script>
  const stock = document.getElementById('holder');
  const inputField = document.getElementById('quanity');

  inputField.addEventListener('input', function(event) {
    if(event.target.value > parseInt(stock.value)) {
      alert("จำนวนสินค้าไม่พอ");
      event.target.value = stock.value;
    }
  });
</script>
</html>