<link rel="stylesheet" href="../css/navbar.css">
<div class="header">
  <header>
    <!-- <img src="../Pictures/logo.png" alt="" width="150px" height="70px"> -->
    <div class="flex">
      <p class="logo">BookE-Com</p>
      <% if (level=='member' ) { %>
      <a href="/Logout" class="active">Logout</a>
    </div>

    <div class="box1">
      <a href="/">All Series</a>
      <% for (var i=0; i < bTypes.length; i++) {%>
        <a href="/type/<%= bTypes[i].id %>"><%= bTypes[i].bType_name %></a>
      <% } %>
      <a href="#">Misc</a><a href="/profile">Profile</a>
    </div>
    <% } else if (level=='admin' ) { %>
        <a href="/Logout" class="active">Logout</a>
    </div>

    <div class="box1">
      <a href="/">All Series</a>
      <% for (var i=0; i < bTypes.length; i++) {%>
        <a href="/type/<%= bTypes[i].id %>"><%= bTypes[i].bType_name %></a>
      <% } %><a href="/profile">Profile</a>
      <a href="/admin">Administrator</a>
    </div>
    <% } else { %>
        <a href="/login" class="active">Login</a>
    </div>

    <div class="box1">
      <a href="/">All Series</a>
      <% for (var i=0; i < bTypes.length; i++) {%>
        <a href="/type/<%= bTypes[i].id %>"><%= bTypes[i].bType_name %></a>
      <% } %><a href="/profile">Profile</a>
    </div>
    <% } %>
  </header>
</div>
